@{
    ViewData["Title"] = "Contact Us";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div id="googleMap" style="width:100%;height:250px;"></div>
<a href="https://goo.gl/maps/VJrWsPgDRix">View larger map</a>
<address>
    139 Carrington Rd<br />
    Mount Albert, AUK 1025
</address>
<br />
<address>
    <strong>Support Rep:</strong> <a href="mailto:achar04@myunitec.ac.nz">Shivneel Achari</a>
</address>